.solid
{
   border-style: solid;
   border-width: 20px 10px 30px 40px ;
   border-color: red
}

.groove
{
    
    border: 5px solid red;
}

.dotted
{
    border-style: dotted;
}

.dashed
{
    border-style: dashed;
}

.double
{
    border-style: double;
}

.ridge
{
    border-style: ridge;
}

.inset
{
    border-style: inset;
}

.outset
{
    border-style: outset;
}

.none
{
    border-style: none
}

.hidden
{
    border-style: hidden
}